.foot__container {
   padding-bottom: 5em;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
    background: rgb(184,170,176);
background: radial-gradient(circle, rgba(184,170,176,0.6110819327731092) 0%, rgba(214,179,70,1) 44%, rgba(159,195,207,1) 82%);
}
.foot__title {
    margin-bottom: 1em;
}
.foot__text {
    margin-bottom: 1em;
}
.foot__rigth {
}