.foot__container {
   margin-bottom: 5em;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
.foot__title {
    margin-bottom: 1em;
}
.foot__text {
    margin-bottom: 1em;
}
.foot__rigth {
}