.foot__container {
   padding-bottom: 5em;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
  }
.foot__title {
    margin-bottom: 1em;
}
.foot__text {
    margin-bottom: 1em;
}
.foot__rigth {
}