.icon {
    width: 2em;
}
.container_app {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: relative;
  padding-left: 0.5em;
  padding-right: 0.5em;
  overflow: hidden;
}
@media (max-width: 500px) {
  .container_app{

  }   
}